@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #09090B;
  color: #FAFAFA;
  font-family: var(--font-inter);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #18181B;
}

::-webkit-scrollbar-thumb {
  background: #3F3F46;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525B;
}

.hall-section {
  min-height: 100vh;
  position: relative;
}
